doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/moment/min/moment.min.js')
    script(src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js')
    script(src='//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js')
    script(src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
  body
    include menu.pug
    block content
