<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Citius</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admins">Administradores Insolvência</a></li>
        <li><a href="/processes">Registos totais</a></li>
        <li><a href="/processadmin">Registos por administrador</a></li>
      </ul>
    </div>
  </div>
</nav>