extends layout

block content
  script(src='/javascripts/processes.js')

  input#date-range
  div#processesChartContainer1(style="height: 300px; width: 100%;")
  div#processesChartContainer2(style="height: 300px; width: 100%;")
  div#processesChartContainer3(style="height: 300px; width: 100%;")
  div#processesChartContainer4(style="height: 300px; width: 100%;")